body{
    background-image: url('CS401-activity-yi-xie-shawn-koch/img/canvas-texture.jpg');
    color: #000305;
    font-size: 87.5%; /*base font size is 14px*/
    font-family: Arial, 'Lucida Sans Unicode' ;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color:saddlebrown;
}

a:hover, a:active{
    color: deepskyblue;
    background-color: white;
}
.body{
    margin: 0 auto;
    width: 80%;
    clear: both;
    border-radius: 5px;
}

.mainHeader img{
    width: 100%;
    height: 50%;
    margin: 10px auto auto auto;
}

.mainHeader nav{
    background-color:#e0560d; /*header background color*/
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;

}

.mainHeader nav ul li {
    float: left;
    display: inline;
    font-size: 120%;
    position:relative;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
    color:white; /*visited header color*/
    display: inline-block;
    padding: 10px 40px;
    height: 20px;


}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active  a:visited{
    background-color: rgba(47,95,118,0.93);
    text-shadow: none;
}

.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainHeader nav  ul li:hover .sub-menu{
    opacity:1;
}

.mainContent {
    border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 20px;
}


.content {
    width:100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 20px;
}

.topContent {
    background-color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 20px;
    padding:10px 2% 10px;
    margin: 10px;
}


.middleContent {
    background-color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 20px;
    padding:10px 2% 10px;
    margin: 10px;
}



.bottomContent {
    background-color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 20px;
    padding:10px 2% 10px;
    margin: 10px;
}

.footContent img {
    width: 100%;
}
.footContent {
    background-color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 20px;
    padding:10px 2% 10px;
    margin: 10px;
}

.footContent img {
    width: 100%;
}

hr {
    border-color: saddlebrown;
}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    background-color:#e0560d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 0 20px 0;

}
.top-info {
    font-style: italic;
    color:gray;
    font-size: 85%;
}

.middle-info {
    font-style: italic;
    color:gray;
    font-size: 85%;
}

.bottom-info {
    font-style: italic;
    color:gray;
    font-size: 85%;
}

.mainFooter p {
    width: 90%;
    margin: 1% auto auto 1%;
    font-style: italic;
}


code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 100%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

}

.codeContent {
    display: block;
    background: #faf8f0;
    padding: 1px 5px;
    border: 1px solid #bebab0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
