body {
    background-color: lightblue;
    font-family: "Georgia";
}

h1 {
    font-family: "Arial Narrow"; font-size: 40px; text-align: justify;
}

h2 {
    font-family: "Baskerville Old Face"; font-size: 30px; text-align: center;
}

li,p {
    color: brown;
}

em { color: darkviolet}

ul { list-style-type: circle;}

li { list-style-type: square; padding: 5px;}

ul > li > ul > li{ color: blue;
        list-style-type: disc;
}

a:link {
    text-decoration: none;
}

table {
    border: dashed;
    padding: 10px;   
}

img {
    opacity: 0.5;
    border-radius: 25%;
}

img:hover {
    opacity: 1.0;
}

pre {
    background-color: black;
    color: white;
    border: solid;
}
